
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ojuju:wght@200..800&family=Rajdhani&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font1{
  font-family: "Julius Sans One", sans-serif;
}

.font2 {
  font-family: "Russo One", sans-serif;
}

.font3{
    font-family: "Rajdhani", sans-serif;
}

.font4{
  font-family: "EB Garamond", serif;
}

.font5{
  font-family: "Madimi One", sans-serif;
}

.font6{
  font-family: "Forum", serif;
}

.font7{
  font-family: "DM Sans", sans-serif;
}



@media (max-width: 768px) {
  .text-5xl {
    @apply text-3xl;
  }
  .text-lg {
    @apply text-base;
  }
  .py-2 {
    @apply py-1;
  }
  .px-8 {
    @apply px-4;
  }
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.icon-white{
  color: white;
}

.icon{
  width: 100px;
  height: 50px;
}

.inputBg{
  background-color: #1b1c1d;
}

.bookBtn{
  color: black;
  background-color: #e4c590;
  border:none;
}

.bookBtn:hover{
  color: white;
  background-color: black;
  border: 1px solid #e4c590;
  transition: 0.5s ease-in-out;
}


.ryc-bg{
  background-color: #e4c590;
}

.ryc-text{
  color:#e4c590;
}

.bg-div {
  background-image: url('./components//assets//testimonial-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: url('./components/assets/hero-slider-1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.background{
  background-color:#1b1c1d;
}
.background2{
  background-color:#faf6f3;
}
.section-divider {
  position: relative;
}

.section-divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  background-color: var(--deep-saffron); /* Color for the area below the diagonal */
  clip-path: polygon(0 0, 100% 0, 100% 100%); /* Creates a diagonal shape */
  z-index: 1; /* Ensure it's above other content */
}

.section-content {
  position: relative; /* Ensure it's above the diagonal */
  z-index: 2; /* Ensure it's above the diagonal */
}

.getOurAppbg{
  background-color:#faf6f3;
}




.serviceCard1 {
  width: 300px;
  height: 450px;
  background-image: url('src/components/assets/event-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.serviceCard1:hover {
  transform: scale(0.99); 
  transition: transform 0.3s ease; 
}

.serviceCard2 {
  width: 300px;
  height: 450px;
  background-image: url('src/components/assets/event-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.serviceCard2:hover {
  transform: scale(0.99); 
  transition: transform 0.3s ease; 
}
.serviceCard3 {
  width: 300px;
  height: 450px;
  position: relative;
  background-image: url('src/components/assets/event-3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease; /* Apply transition for opacity change */
}

.serviceCard3:hover {
  transform: scale(0.99); 
  transition: transform 0.3s ease; 
}


/* button */




.btn .link {
  list-style-type: none;
}

.btn .link{
  cursor: pointer;
  background-color: #e4c590;
  --c: black;
  font-family: "Forum", serif;
  color: var(black);
  width: 12em;
  height: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.btn .link span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.btn .link:hover {
  color: white;
  border: 1px solid #e4c590;
}

.btn .link:hover span {
  transform: translateY(0) scale(2);
}

.btn .link span:nth-child(1) {
  --n: 1;
}

.btn .link span:nth-child(2) {
  --n: 2;
}

.btn .link span:nth-child(3) {
  --n: 3;
}

.btn .link span:nth-child(4) {
  --n: 4;
}



.servicesBg{
  background-image: url('/src//components//assets/services-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footerBg{
  background-image: url('./components//assets/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footerForm{
  background-image: url('./components/assets/footer-form-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Btn2 */
.btn2 .link2 {
  list-style-type: none;
}

.btn2 .link2{
  cursor: pointer;
  background-color: #76c893;
  --c: #007f5f;
  font-family: "Forum", serif;
  color: var(black);
  width: 12em;
  height: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.btn2 .link2 span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(100%);
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.btn2 .link2:hover {
  color: white;
  border: 1px solid #f9f7f3;
}

.btn2 .link2:hover span {
  transform: translateY(0) scale(2);
}

.btn2 .link2 span:nth-child(1) {
  --n: 1;
}

.btn2 .link2 span:nth-child(2) {
  --n: 2;
}

.btn2 .link2 span:nth-child(3) {
  --n: 3;
}

.btn2 .link2 span:nth-child(4) {
  --n: 4;
}

/* btn3 */

.btn3 .link3 {
  list-style-type: none;
}

.btn3 .link3{
  cursor: pointer;
  background-color: #e9edc9;
  --c: #e5e5e5;
  font-family: "Forum", serif;
  color: var(black);
  width: 12em;
  height: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.btn3 .link3 span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(100%);
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.btn3 .link3:hover {
  color: black;
  border: 1px solid black;
}

.btn3 .link3:hover span {
  transform: translateY(0) scale(2);
}

.btn3 .link3 span:nth-child(1) {
  --n: 1;
}

.btn3 .link3 span:nth-child(2) {
  --n: 2;
}

.btn3 .link3 span:nth-child(3) {
  --n: 3;
}

.btn3 .link3 span:nth-child(4) {
  --n: 4;
}
